body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
  color: #4d0026;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-size: 20px;
  color: #999;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #669999;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

ul {
  list-style-type: none;
}

span {
  padding: 5px;
}

.clear-fix {
  overflow: auto;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.pop-text {
  color: #4d0026;
}

.pop-color {
  background-color: #4d0026;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #616371;
}

#top-contacts {
  margin-bottom: 20px;
}

.contact-info,
.skill {
  padding-bottom: 10px;
}

.welcome-message {
  font-style: italic;
  font-size: 16px;
  color: #f3f3f3;
  text-align: center;
  line-height: 28px;
  padding: 5px 0 5px 10px;
  display: flex;
  justify-content: space-around;
}

#skills-h3 {
  color: #4d0026;
  width: 80%;
  margin-left: 5%;

}

#skill-list {
  padding-left: 0;
}

.center-content {
  padding: 2.5% 5%;
}

.biopic {
  float: left;
  padding: 10px;
  width: 100px;
  display: none;
  border-radius: 110px;
  margin: 10px 0 0 -20px;
}

.education-entry,
.work-entry,
.project-entry,
.online-entry {
  padding: 5px 5%;
}

.role {
  padding-left: 10px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  width: 50%;
  display:inline-block;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  width: 50%;
  float: right;
  display: inline-block;
  text-align: right;
}

.project-image {
  padding: 10px 20px 15px 0;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#map-div {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}


#info-window {
  color: dark-gray;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-shadow: 1px 0 1px gray;
}

#lets-connect {
  text-align: center;
}

#footer-contacts {
  padding-bottom: 20px;
}

.phone {
  margin-left: 55px;
  display: none;
}

.icon {
  height: 50px;
  -webkit-transition: margin-top 0.2s, font-size 0.2s;
  transition: margin-top 0.2s, font-size 0.2s;
}

.fa {
  color: white;
}

.icon:hover {
  margin-top: -10px;
  font-size: 20px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1000px) {
  #lets-connect {
    margin-top: 5%;
  }

  .biopic {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }

  .welcome-message,
  .biopic {
    display: none;
  }

  #skills-h3 {
    margin: 0;
    padding-left: 0;
  }

  #top-contacts {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 540px) {
  hr {
    margin: 0;
  }

  #name {
    font-size: 26px;
  }

  .skill,
  .contact-info {
    font-size: 14px;
    text-align: center;
  }

  .phone {
    display: list-item;
    margin-left: 0;
  }

  .skype   {
    display: none;
  }

  #top-contacts {
    padding-bottom: 0;
  }

  #skills-h3 {
    padding: 0;
  }
}

@media only screen and (max-width: 430px) {
  hr {
    clear: both;
  }

  #name {
    float: left;
  }

  .role {
    text-align: right;
    float: right;
    margin-top: 2vh;
  }

  .skill,
  .contact-info {
    padding-bottom: 2px;
  }

  #skills-h3 {
    text-align: center;
    width: 100%;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 370px) {
  #name {
    font-size: 23px;
  }

  .role {
  font-size: 14px;
  }

  #skills-h3 {
    font-size: 17px;
  }

  #lets-connect {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
